@font-face {
  font-family: "Playlist";
  src: url(../fonts/Playlist_Script.otf);
}
@font-face {
  font-family: "Wcmano";
  src: url(../fonts/WCManoNegraBoldBta.ttf);
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  color: white;
}
.logo {
  font-family: "Wcmano", cursive;
  font-size: 4rem;
  cursor: pointer;
}
.menu {
  background-color: #201e1f;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
}
.menu-items {
  list-style: none;
  display: flex;
}
.menu-items li {
  margin: 0 0.8rem;
}
.menu-items li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0.8rem 0.5rem;
  display: block; /* Los a ocupan todo el espacio de los li*/
}
.menu-items li:hover {
  background-color: #968b75;
  transition: 0.5s;
}
.btn-menu {
  margin-right: 30px;
  font-size: 1.6rem;
  cursor: pointer;
  display: none;
}
/* character */
.character {
  position: relative;
  width: 100vw;
  height: 85vh;
  background-color: #201e1f;
  display: flex;
  align-items: center;
  justify-content: end;
}

.character::after {
  /* Usamos after para poner el poligono sobre el circulo*/
  content: ""; /* Si omitimos esta linea no podremos observar el poligono */
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 13%; /* Con esto manejamos la altura de nuestro poligono*/
  background-color: #ffffff;
  clip-path: polygon(100% 0, 0 100%, 100% 100%); /* Creamos el slanted header */
}
.character-circle {
  width: 80vw;
  height: 80vh;
  background: #968b75;
  border-radius: 0 100% 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.character-circle figure img {
  position: absolute;
  bottom: 0;
  left: -18px;
  width: 40vw;
  height: 105%;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3rem;
  position: absolute;
  padding-right: 10rem;
}
.title h1 {
  font-family: "Playlist";
  font-size: 15rem;
  line-height: 150px;
}
.title p {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.contact-button {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  background: #201e1f;
  color: #ffffff;
  border: 2px solid #ffffff;
  height: 5rem;
  width: 20rem;
  cursor: pointer;
  margin-bottom: 3rem;
}
.contact-button:hover {
  background-color: #968b75;
}

/*Main content*/
.main-content::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 10%;
  margin: 0;
  background-color: #201e1f;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.main-content {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 0;
  position: relative;
  padding: 5rem 0 15rem;
}
.main-content h2 {
  font-family: "Wcmano";
  font-size: 10rem;
  line-height: 90px;
}
.main-content article {
  font-size: 4rem;
  padding: 2rem 10rem;
}
.main-content div button {
  margin: 3rem;
}
/*Clients*/
.clients {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 130vh;
  background-color: #201e1f;
  font-size: 1.6rem;
  padding: 0.8rem 4rem 0 0;
}
.clients::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 10%;
  background-color: #968b75;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.clients div {
  display: flex;
  padding-left: 5rem;
}
.clients div article {
  padding-left: 5rem;
}
.clients-img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%; /* Volvemos la imagen redonda */
}
/*Footer*/
footer {
  background-color: #968b75;
  font-size: 2rem;
}
.footer-principal {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  height: 80vh;
}
.footer-icons {
  font-size: 4rem;
  display: flex;
}
.footer-icons span {
  padding: 0 8rem;
}
.footer-copy {
  text-align: center;
}

@media only screen and (max-device-width: 480px) {
  .btn-menu {
    display: inline-flex;
  }
  .menu-items {
    display: none;
  }
  /* main */
  .main-content article {
    font-size: 2.5rem;
    padding: 2rem 3rem;
  }
  .character-circle figure img {
    width: 60vw;
  }
  .title {
    padding-bottom: 3rem;
    padding-right: 1.3rem;
    top: 40px;
  }
  .title h1 {
    font-size: 6rem;
    line-height: 70px;
  }
  .title p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .contact-button {
    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;
  }
  /* clients */
  .clients {
    height: 200vh;
    justify-content: space-evenly;
  }
  .clients div {
    align-items: center;
    padding: 0 2rem;
  }
  .clients div article {
    padding: 0 2rem;
  }
  .clients-3 {
    margin-bottom: 4rem;
  }
  /*footer*/
  .footer-icons span {
    padding: 0 2rem;
  }
}
